{
{% if ENABLE_MIRROR_REGISTRY %}
  "registry-mirrors": {{ REG_MIRRORS }}, 
{% endif %}
{% if ENABLE_REMOTE_API %}
  "hosts": ["tcp://0.0.0.0:2376", "unix:///var/run/docker.sock"],
{% endif %}
{% if ENABLE_INSECURE_REG %}
  "insecure-registries": {{ INSECURE_REG }},
{% endif %}
  "registry-mirrors": ["https://1a5q7qx0.mirror.aliyuncs.com"],
  "max-concurrent-downloads": 10,
  "log-driver": "{{ LOG_DRIVER }}",
  "log-level": "{{ LOG_LEVEL }}",
  "log-opts": {
    "max-size": "{{ LOG_MAX_SIZE }}",
    "max-file": "{{ LOG_MAX_FILE }}"
    },
  "data-root": "{{ STORAGE_DIR }}"
}
